<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
            <meta name="theme-color" content="#{guestPreferences.themeColors[guestPreferences.theme]}" />
        </f:facet>
        <title><ui:insert name="title">MNoman</ui:insert></title>
        <h:outputScript name="js/nanoscroller.js" library="poseidon-layout" />
        <h:outputScript name="js/layout.js" library="poseidon-layout" />
        <h:outputScript name="js/swipe.js" library="poseidon-layout" />
        <ui:insert name="head"/>
    </h:head>

    <h:body styleClass="main-body">
        
        <p:growl>
            <p:autoUpdate />
        </p:growl>
        
        <div class="layout-wrapper #{guestPreferences.menuLayout} #{guestPreferences.orientationRTL ? 'layout-rtl' : null}">
            <ui:include src="./topbar.xhtml" />
            <ui:include src="./menu.xhtml" />
            
            <div class="layout-main">
                <div class="route-bar">
                    <i class="fa fa-home"></i> <span>/ </span>
                    <ui:insert name="viewname" />
                    
                    <ui:include src="./right-sidebar.xhtml" />
                </div>
                <div class="layout-main-content">
                    <ui:insert name="content"/>
                </div>
                
                <ui:include src="./footer.xhtml" />
            </div>
        </div>
        
        <p:ajaxStatus style="width:32px;height:32px;position:fixed;right:7px;bottom:7px">
           <f:facet name="start">
               <i class="fa fa-circle-o-notch fa-spin ajax-loader" aria-hidden="true"></i>
           </f:facet>

           <f:facet name="complete">
               <h:outputText value="" />
           </f:facet>
       </p:ajaxStatus>
        
        <h:outputStylesheet name="css/nanoscroller.css" library="poseidon-layout" />
        <h:outputStylesheet name="css/animate.css" library="poseidon-layout" />
        <h:outputStylesheet name="css/layout-#{guestPreferences.theme}.css" library="poseidon-layout" />
    </h:body>

</html>