<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title>Morphling</title>
        <script type="text/javascript">
        $(function() {
            $('#menu-button').on('click', function(e) {
                var menu = $('#menu');
                if(menu.hasClass('lmenu-active')) {
                    menu.addClass('fadeOutUp');
                    
                    setTimeout(function() {
                        menu.removeClass('fadeOutUp fadeInDown lmenu-active');
                    },500);
                }
                else {
                    menu.addClass('lmenu-active fadeInDown');
                }
                e.preventDefault();
            });
        });
        </script>
    </h:head>

    <h:body styleClass="landing-body">
        <div class="landing-wrapper">
            <div id="header">
                <div class="header-top clearfix">
                    <span class="logo"></span>
                    
                    <a id="menu-button" href="#">
                       <span class="fa fa-bars"></span>
                    </a>
                    <ul id="menu" class="animated">
                       <li><a href="#"><span>Home</span></a></li>
                       <li><a href="#features"><span>Features</span></a></li>
                    </ul>
                </div>
                
                <div class="header-content clearfix">
                    <h1>Morphling</h1>
                    <h2>Sell anything.. anywhere.</h2>
                    <p:button outcome="/login" value="Sign Up Now" styleClass="secondary"/>
                </div>
            </div>
            
            <div id="features">
                <div class="ui-g">
                    <div class="ui-g-12 ui-md-4">
                        <div class="feature-icon">
                            <p:graphicImage name="images/landing/landing-1.png" library="poseidon-layout" />
                        </div>
                        <h3>AC </h3>
                        <p>Check it for more information</p>
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <div class="feature-icon">
                            <p:graphicImage name="images/landing/landing-2.png" library="poseidon-layout" />
                        </div>
                        <h3>Clean Code</h3>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <div class="feature-icon">
                            <p:graphicImage name="images/landing/landing-3.png" library="poseidon-layout" />
                        </div>
                        <h3>Powerful Grid</h3>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                    
                    <div class="ui-g-12 ui-md-4">
                        <div class="feature-icon">
                            <p:graphicImage name="images/landing/landing-4.png" library="poseidon-layout" />
                        </div>
                        <h3>Modern Design</h3>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <div class="feature-icon">
                            <p:graphicImage name="images/landing/landing-5.png" library="poseidon-layout" />
                        </div>
                        <h3>Well Documented</h3>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <div class="feature-icon">
                            <p:graphicImage name="images/landing/landing-6.png" library="poseidon-layout" />
                        </div>
                        <h3>Premium Support</h3>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
            </div>
    
           <div id="footer">
               <div class="footer-content">
                   <div class="ui-g">
                        <div class="ui-g-12 ui-md-6 footer-left clearfix">
                            <p:graphicImage name="images/logo-icon-white.png" library="poseidon-layout" width="50"/>
                            <span>Morphling</span>
                            <span>All rights reserved</span>
                        </div>
                        <div class="ui-g-12 ui-md-6 footer-right">
                            <i class="fa fa-facebook-square"></i>
                            <i class="fa fa-twitter-square"></i>
                        </div>
                    </div>
               </div>
           </div>
        </div>
        
        <h:outputStylesheet name="css/animate.css" library="poseidon-layout" />
        <h:outputStylesheet name="css/layout-#{guestPreferences.theme}.css" library="poseidon-layout" />
    </h:body>

</html>