<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/main-template.xhtml">

    <ui:define name="title">Empty Page</ui:define>

    <ui:define name="content">
        <h2 class="text-center">
            Featured Collection
        </h2>
        <div class="grid">
            <div class="grid-item product">
                <a href="#">
                    <div class="sale-top">
                        Sale
                    </div>
                    <div class="image">
                        <img src="https://via.placeholder.com/300x300" />
                    </div>
                    <div class="title">
                        Mommys Bear
                    </div>
                    <div class="price">
                        100$
                    </div>
                </a>
            </div>

            <div class="grid-item product">
                <a href="#">
                    <div class="image">
                        <img src="https://via.placeholder.com/300x300" />
                    </div>
                    <div class="title">
                        Mommys Bear
                    </div>
                    <div class="price">
                        100$
                    </div>
                </a>
            </div>

            <div class="grid-item product">
                <a href="#">
                    <div class="image">
                        <img src="https://via.placeholder.com/300x300" />
                    </div>
                    <div class="title">
                        Mommys Bear
                    </div>
                    <div class="price">
                        100$
                    </div>
                </a>
            </div>

            <div class="grid-item product">
                <a href="#">
                    <div class="image">
                        <img src="https://via.placeholder.com/300x300" />
                    </div>
                    <div class="title">
                        Mommys Bear
                    </div>
                    <div class="price">
                        100$
                    </div>
                </a>
            </div>

            <div class="grid-item product">
                <a href="#">
                    <div class="image">
                        <img src="https://via.placeholder.com/300x300" />
                    </div>
                    <div class="title">
                        Mommys Bear
                    </div>
                    <div class="price">
                        100$
                    </div>
                </a>
            </div>

            <div class="grid-item product">
                <a href="#">
                    <div class="image">
                        <img src="https://via.placeholder.com/300x300" />
                    </div>
                    <div class="title">
                        Mommys Bear
                    </div>
                    <div class="price">
                        100$
                    </div>
                </a>
            </div>
        </div>
    </ui:define>

</ui:composition>